<ion-header>
  <ion-navbar>
    <ion-title>
      <h3>Account Settings</h3>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Stay logged in?</ion-label>
    <ion-radio value="isLoggedIn" checked="isLoggedIn"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-searchbar #searcBar id="searchBar"
	  [(ngModel)]="searchAddress"
	  [showCancelButton]="shouldShowCancel"
	  (ionInput)="searchLocation($event)"
	  (ionCancel)="onCancel($event)">Search location
	</ion-searchbar>
	
	<div #map id="map"></div>  
	

	  <ion-list>
	    <span *ngFor="let contact of contactlist" >
	      <ion-item *ngIf="contact.displayName">
	          {{contact.displayName}} = {{contact.phoneNumbers[0].value}}
	          <!-- <ion-icon [hidden]="contact.showIcon" name="logo-apple"></ion-icon> -->
	      </ion-item>
	    </span>
	  </ion-list>
	
  </ion-item>
</ion-content>
